.Survey {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.SurveyDescription {
  padding: 24px;
  border-radius: 12px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  background: white;
  margin: 12px;
}

.SurveyDescription h1 {
  font-size: 1.25rem;
  text-align: center;
}

.SurveyDescription h2 {
  font-size: 1.05rem;
  text-align: center;
}

.SurveyForm {
  flex-grow: 1;
  padding: 12px;
  margin: 12px;
  background: white;
  border-radius: 12px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.SubmitButton {
  margin-top: 24px;
}

.FailContainer,
.LoadingContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
}

.SurveySubmittingContainer,
.SurveySubmitFailContainer,
.SurveySubmitSuccessContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SurveySubmitFailContainer button,
.SurveySubmitSuccessContainer button {
  margin-top: 24px;
}

.SurveySubmitFailContainer h1 {
  color: #c25461;
}

.SurveySubmitSuccessContainer h1 {
  color: #5fa97f;
}

@media (min-width: 600px) {
  .Survey {
    flex-direction: row;
    align-items: start;
    align-content: start;
  }
}
